.btn {
    -fx-background-color: white;
    -fx-border-color: #38b6ff;
    -fx-border-radius: 4px;
    -fx-text-fill: black;
    -fx-font-family: "Segoe UI";
    -fx-font-size: 11 px;
}
.btn:hover {
    -fx-background-color: #38b6ff;
    -fx-border-color: black;
    -fx-border-radius: 4px;
    -fx-text-fill: white;
}